@font-face {
  font-family: 'Light';
  src: url(../fonts/Light.ttf);
}

@font-face {
  font-family: 'Regular' ;
  src: url(../fonts/Regular.ttf);
}

@font-face {
  font-family: 'Bold' ;
  src: url(../fonts/Bold.ttf);
}

@font-face {
  font-family: 'Medium' ;
  src: url(../fonts/Medium.ttf);
}

@font-face {
  font-family:'SemiBold';
  src: url(../fonts/SemiBold.ttf);
}