@import url(./fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    background: #E5E5E5;
    font-family: 'Regular', sans-serif;
}
.nav__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    list-style: none;
}
.nav__link{
    text-decoration: none;
    color: #000;
    display: flex;
    margin-left: 70px;
    margin-top: 38px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 39px;
}
.nav__link:hover{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
.nav{
    margin-top: 30px;
}
.intro{
    background-image: url(../images/intro_img.png);
    height: 865px;
    width: 1500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 39px;
    padding: 177px 182px;
    margin: 0 auto;
}
.intro__title{
    font-weight: 700;
    font-size: 100px;
    line-height: 130px;
    color: #0B0B0B;
    margin-left: 177px;
}
.intro__title2{
    margin-left: 275px;
    font-weight: 700;
    font-size: 100px;
    line-height: 130px;
    color: #0B0B0B;
}
.intro__list{
    display: flex;
    list-style: none;
    padding: 177px;
    padding-top: 138px;
}
.intro__link{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: white;
    width: 237px;
    height: 57px;
    padding: 18px 50px;
    background-color:#000;
    margin-right: 30px;
    border: 2px black solid;
    transition: 500ms;
}
.intro__link2{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #000;
    background-color:#FFA638;
    width: 237px;
    height: 57px;
    padding: 18px 50px;
    border: 2px black solid;
    transition: 500ms;
}
.intro__link:hover{
    background-color: #000;
    color: #fff;
}
.intro__link2:hover{
    background-color: #000;
    color: #fff;
}
.container{
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.create__title{
    font-weight: 700;
    font-size: 45px;
    line-height: 160%;
    margin-left: 70px;
    margin-top: 130px;
}
.create__img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 57px;
    list-style: none;
}
.creation__title{
    font-weight: 700;
    font-size: 45px;
    line-height: 145%;
    max-width: 548px;
}
.creation__text{
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: start;
    max-width: 516px;
}
.creation__link{
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    text-decoration: none;
    background-color:#E58311 ;
    color: white;
    width: 184px;
    height: 59px;
    padding: 15px 40px;
}
.creation__img{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 131px;
   
}
.creation__honey{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
}

.taste__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.taste__img{
    margin-left: 36px;
}
.taste__title{
    font-weight: 700;
    font-size: 45px;
    line-height: 145%;
    max-width: 548px;
    width: 100%;
}
.taste__text{
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
    max-width: 516px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.taste__link{
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    text-decoration: none;
    background-color:#E58311 ;
    color: white;
    width: 184px;
    padding: 15px 40px;
}
.box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    width: 1180px;
    height: 427px;
}
.container{
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.product__title{
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    margin-top: 137px;
    
}
.product__text{
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    max-width: 362px;
    margin-top: 20px;
    margin-bottom: 40px;
    opacity: 0.7;
    padding-top: 20px;
    padding-bottom: 30px;
}
.product__link{
    text-decoration: none;
    color: #E58211;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    border: 3px #E58211 solid;
    padding: 10px 30px;
    
}
.product__theme{
    margin-right: 227px;
    font-weight: 700;
    font-size: 45px;
    line-height: 160%;
}
.product__img{
    display: flex;
    justify-content: end;
    padding-left: 290px;
}
.product__img2{
    display: flex;
    justify-content: end;
    padding-left: 400px;
}
.card{
    background-image: url(../images/bac_img_product.png);
    padding-left: 30px;
    
}
.footer{
    margin-top: 250px;
    position: absolute;

}
